{
  "sourceMaps": "inline",
  "minify": false,
  "exclude": [
    ".*\\.d\\.ts$"
  ],
  "module": {
    "type": "commonjs",
    "noInterop": false
  },
  "jsc": {
    "baseUrl": "./src",
    "target": "es2017",
    "loose": false,
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "minify": {
      "compress": false,
      "mangle": false
    }
  }
}